/* En tu CSS global o Tailwind config */
.loginbg {
  background-image: url('/src/Images/Instalaciones/imgGImnasio2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomBackground 20s ease-in-out infinite;
}

